In [33]:
import Bio.PDB
import numpy as np
import pandas as pd
from pathlib import Path
from matplotlib import pyplot as plt

In [34]:
pdb_file = Path("/Users/matthew/Documents/mtorc2/data/pdb/MTORC2.rigid_body.dimer.pdb")
intra_xl_file = Path(Path.home(), "Documents/mtorc2/data/xlms/intra.csv")
inter_xl_file = Path(Path.home(), "Documents/mtorc2/data/xlms/inter.csv")

In [36]:
aas = ["ALA", "ARG", "ASN", "ASP", "CYS", "GLU", "GLN", "GLY", "HIS", "ILE", "LEU", "LYS", "MET", "PHE", "PRO", "SER", "THR", "TRP", "TYR", "VAL"]
pdb_parser = Bio.PDB.PDBParser(QUIET=True)
model = pdb_parser.get_structure("reference", str(pdb_file))[0]

In [37]:
chain_ids = dict() 
chain_ids["MTOR"] = "A"
chain_ids["RICTOR"] = "B"
chain_ids["MLST8"] = "C"
chain_ids["MTOR_B"] = "D"
chain_ids["RICTOR_B"] = "E"
chain_ids["MLST8_B"] = "F"
chain_ids["MSIN1"] = "G"
chain_ids["MSIN1_B"] = "H"

In [38]:
chains = dict() 
for chain in model:
    chains[chain.id] = chain

In [39]:
print(chains)

{'A': <Chain id=A>, 'B': <Chain id=B>, 'C': <Chain id=C>, 'G': <Chain id=G>, 'D': <Chain id=D>, 'E': <Chain id=E>, 'F': <Chain id=F>, 'H': <Chain id=H>}

In [40]:
xls_df = pd.read_csv(inter_xl_file)
xls_df = pd.concat([xls_df, pd.read_csv(intra_xl_file)], axis=0)
xls_df.head()

   Unnamed: 0   prot1  res1   prot2  res2
0           0    MTOR  1197  RICTOR   516
1           1    MTOR  1218  RICTOR   516
2           2  RICTOR  1642   MSIN1   102
3           3  RICTOR  1092    MTOR  1993
4           4  RICTOR  1642   MSIN1   104

In [41]:
xls_df['contains'] = False
xls_df['satisfied'] = False
xls_df.head()

   Unnamed: 0   prot1  res1   prot2  res2  contains  satisfied
0           0    MTOR  1197  RICTOR   516     False      False
1           1    MTOR  1218  RICTOR   516     False      False
2           2  RICTOR  1642   MSIN1   102     False      False
3           3  RICTOR  1092    MTOR  1993     False      False
4           4  RICTOR  1642   MSIN1   104     False      False

In [42]:
# Remove any duplicate entries.
duplicates = list() 
for i in range(len(xls_df)): 
    prot1 = xls_df.iloc[i, xls_df.columns.get_loc("prot1")]
    prot2 = xls_df.iloc[i, xls_df.columns.get_loc("prot2")]
    res1 = xls_df.iloc[i, xls_df.columns.get_loc("res1")]
    res2 = xls_df.iloc[i, xls_df.columns.get_loc("res2")]
    
    for j in range(i+1, len(xls_df)): 
        cur_prot1 = xls_df.iloc[j, xls_df.columns.get_loc("prot1")]
        cur_prot2 = xls_df.iloc[j, xls_df.columns.get_loc("prot2")]
        cur_res1 = xls_df.iloc[j, xls_df.columns.get_loc("res1")]
        cur_res2 = xls_df.iloc[j, xls_df.columns.get_loc("res2")]
        
        if prot1 == cur_prot1 and prot2 == cur_prot2 and res1 == cur_res1 and res2 == cur_res2: 
            duplicates.append((i,j))
        elif prot1 == cur_prot2 and prot2 == cur_prot1 and res1 == cur_res2 and res2 == cur_res1:
            duplicates.append((i,j))

In [43]:
xls_df = xls_df.reset_index()
xls_df = xls_df.drop(columns=["Unnamed: 0"])
xls_df = xls_df.drop(columns=["index"])

In [44]:
xls_df = xls_df.drop([second for first, second in duplicates])
xls_df.tail()

      prot1  res1   prot2  res2  contains  satisfied
213    MTOR   298    MTOR   309     False      False
214    AKT1   140    AKT1   214     False      False
215    MTOR   980    MTOR  1256     False      False
217    MTOR   309    MTOR  2370     False      False
218  RICTOR  1092  RICTOR  1107     False      False

In [45]:
# Flip MTOR so that it is always prot1. 
for i in range(len(xls_df)): 
    if xls_df.iloc[i, xls_df.columns.get_loc("prot2")] == "MTOR": 
        prot1_copy = xls_df.iloc[i, xls_df.columns.get_loc("prot1")]
        res1_copy = xls_df.iloc[i, xls_df.columns.get_loc("res1")]
        
        xls_df.iloc[i, xls_df.columns.get_loc("prot1")] = xls_df.iloc[i, xls_df.columns.get_loc("prot2")]
        xls_df.iloc[i, xls_df.columns.get_loc("res1")] = xls_df.iloc[i, xls_df.columns.get_loc("res2")]

        xls_df.iloc[i, xls_df.columns.get_loc("prot2")] = prot1_copy
        xls_df.iloc[i, xls_df.columns.get_loc("res2")] = res1_copy

In [46]:
print(len(xls_df))

200

In [47]:
xls_df["copy"] = "A"
xls_df.head()

    prot1  res1   prot2  res2  contains  satisfied copy
0    MTOR  1197  RICTOR   516     False      False    A
1    MTOR  1218  RICTOR   516     False      False    A
2  RICTOR  1642   MSIN1   102     False      False    A
3    MTOR  1993  RICTOR  1092     False      False    A
4  RICTOR  1642   MSIN1   104     False      False    A

In [48]:
cutoff = 35
for i in range(len(xls_df)): 
    prot1 = xls_df.iloc[i]["prot1"]
    prot2 = xls_df.iloc[i]["prot2"]
    res1 = int(xls_df.iloc[i]["res1"])
    res2 = int(xls_df.iloc[i]["res2"])

    if prot1 == "AKT1" or prot2 == "AKT1": 
        continue
#     if prot1 == "MSIN1" or prot2 == "MSIN1": 
#         continue
        
    # Check if contains. 
    chain1 = chains[chain_ids[prot1]]
    chain2 = chains[chain_ids[prot2]]
    
    chain2_alt = chains[chain_ids[prot2+"_B"]]
    if chain1.__contains__(res1) and chain2.__contains__(res2): 
        # Check if satisfied. 
        xls_df.iloc[i, xls_df.columns.get_loc('contains')] = True
        pos1 = chain1.__getitem__(res1)['CA'].coord
        pos2 = chain2.__getitem__(res2)['CA'].coord
        l2norm = np.linalg.norm(pos1 - pos2)
        if l2norm < cutoff: 
#             print(prot1, prot2, res1, res2, l2norm)
            xls_df.iloc[i, xls_df.columns.get_loc('satisfied')] = True
            
        # Check if alternative location satisfies.
        pos2_alt = chain2_alt.__getitem__(res2)['CA'].coord
        l2norm_alt = np.linalg.norm(pos1 - pos2_alt)

        if l2norm_alt < l2norm: 
            xls_df.iloc[i, xls_df.columns.get_loc('copy')] = "B" 
            
            if l2norm_alt < cutoff: 
                xls_df.iloc[i, xls_df.columns.get_loc('satisfied')] = True
        
        print(prot1, prot2, res1, res2, l2norm, l2norm_alt)

RICTOR MSIN1 1642 102 15.85538 155.5138
RICTOR MSIN1 1642 104 17.189886 149.73627
MSIN1 RICTOR 95 1614 27.438694 152.73195
MTOR MLST8 2374 86 17.096048 105.33684
MTOR RICTOR 2113 274 13.305797 130.56258
MTOR RICTOR 84 699 125.90031 115.71929
MSIN1 MLST8 132 322 14.488657 159.7527
MTOR RICTOR 1766 586 133.25098 142.28525
MTOR RICTOR 2113 270 9.060984 129.25146
MTOR RICTOR 2370 126 53.774326 132.06862
MTOR MTOR 2218 900 9.976592 81.7898
RICTOR RICTOR 791 813 11.376223 199.37894
RICTOR RICTOR 764 800 12.168988 195.79588
RICTOR RICTOR 791 826 18.622425 204.86183
MTOR MTOR 1745 1655 17.491295 65.60076
RICTOR RICTOR 374 734 9.027184 176.61073
RICTOR RICTOR 541 582 15.149126 187.25238
RICTOR RICTOR 800 856 14.9551525 184.8504
RICTOR RICTOR 800 734 17.629921 187.18752
RICTOR RICTOR 921 856 20.653751 173.17754
MTOR MTOR 1293 1267 12.758361 153.92908
RICTOR RICTOR 692 719 13.855674 214.7882
RICTOR RICTOR 239 916 10.650063 156.5985
RICTOR RICTOR 374 800 20.31656 178.18233
RICTOR RICTOR 764 856 15.67747 191.88837
MTOR MTOR 226 1277 10.873632 148.4537
MTOR MTOR 900 2352 19.275755 82.38294
MTOR MTOR 1406 2301 15.141727 131.44983
MTOR MTOR 2090 2045 14.408097 107.51834
MTOR MTOR 2370 2166 20.065783 104.06762
MTOR MTOR 226 1566 27.505562 138.95403
MSIN1 MSIN1 102 95 12.175002 164.32072
MTOR MTOR 84 128 12.338616 145.05872
MTOR MTOR 1662 898 18.800428 80.9331
RICTOR RICTOR 764 791 20.667387 203.93695
MTOR MTOR 230 1277 17.340063 157.40367
MTOR MTOR 1655 1702 12.750724 75.9084
MTOR MTOR 1471 1500 12.184431 152.70291
MTOR MTOR 1655 898 17.877752 78.59128
RICTOR RICTOR 699 734 10.672991 189.2633
RICTOR RICTOR 781 813 11.751759 184.38686
RICTOR RICTOR 838 856 15.810178 180.10312
MTOR MTOR 1868 1805 15.244656 24.644487
MTOR MTOR 2218 1662 18.560917 82.598434

In [51]:
sat_xls, unsat_xls = "", ""
for i in range(len(xls_df)): 
    if xls_df.iloc[i, xls_df.columns.get_loc("contains")]: 
        if xls_df.iloc[i, xls_df.columns.get_loc("satisfied")]: 
            color="green"
        else: 
            color="red"
        
        
        res1 = xls_df.iloc[i, xls_df.columns.get_loc("res1")]
        res2 = xls_df.iloc[i, xls_df.columns.get_loc("res2")]
        
        chain1 = chain_ids[xls_df.iloc[i, xls_df.columns.get_loc("prot1")]]
        chain2 = chain_ids[xls_df.iloc[i, xls_df.columns.get_loc("prot2")]]
        
        if xls_df.iloc[i, xls_df.columns.get_loc("copy")] == "B": 
            chain2 = chain_ids[xls_df.iloc[i, xls_df.columns.get_loc("prot2")]+"_B"]
        
        pb_str = "#1/{}:{}@CA #1/{}:{}@CA\n".format(chain1, res1, chain2, res2)
        if xls_df.iloc[i, xls_df.columns.get_loc("satisfied")]: 
            sat_xls = sat_xls + pb_str 
        else: 
            unsat_xls = unsat_xls + pb_str

            
print("green")
print(sat_xls)
print("red")
print(unsat_xls)
#         print("#0:{}.{}@CA #0:{}.{}@CA {}".format(res1, chain1, res2, chain2, color))

green
#1/B:1642@CA #1/G:102@CA
#1/B:1642@CA #1/G:104@CA
#1/G:95@CA #1/B:1614@CA
#1/A:2374@CA #1/C:86@CA
#1/A:2113@CA #1/B:274@CA
#1/G:132@CA #1/C:322@CA
#1/A:2113@CA #1/B:270@CA
#1/A:2218@CA #1/A:900@CA
#1/B:791@CA #1/B:813@CA
#1/B:764@CA #1/B:800@CA
#1/B:791@CA #1/B:826@CA
#1/A:1745@CA #1/A:1655@CA
#1/B:374@CA #1/B:734@CA
#1/B:541@CA #1/B:582@CA
#1/B:800@CA #1/B:856@CA
#1/B:800@CA #1/B:734@CA
#1/B:921@CA #1/B:856@CA
#1/A:1293@CA #1/A:1267@CA
#1/B:692@CA #1/B:719@CA
#1/B:239@CA #1/B:916@CA
#1/B:374@CA #1/B:800@CA
#1/B:764@CA #1/B:856@CA
#1/A:226@CA #1/A:1277@CA
#1/A:900@CA #1/A:2352@CA
#1/A:1406@CA #1/A:2301@CA
#1/A:2090@CA #1/A:2045@CA
#1/A:2370@CA #1/A:2166@CA
#1/A:226@CA #1/A:1566@CA
#1/G:102@CA #1/G:95@CA
#1/A:84@CA #1/A:128@CA
#1/A:1662@CA #1/A:898@CA
#1/B:764@CA #1/B:791@CA
#1/A:230@CA #1/A:1277@CA
#1/A:1655@CA #1/A:1702@CA
#1/A:1471@CA #1/A:1500@CA
#1/A:1655@CA #1/A:898@CA
#1/B:699@CA #1/B:734@CA
#1/B:781@CA #1/B:813@CA
#1/B:838@CA #1/B:856@CA
#1/A:1868@CA #1/A:1805@CA
#1/A:2218@CA #1/A:1662@CA

red
#1/A:84@CA #1/E:699@CA
#1/A:1766@CA #1/B:586@CA
#1/A:2370@CA #1/B:126@CA